@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
}

.link-input {
  background: url("assets/icons/icon-link.svg") no-repeat scroll 10px 10px;
}

/* custom styles */

.font-emphasized {
  @apply text-sm text-violet-700 font-bold;
}

.active-link-default {
  @apply text-sm flex items-center gap-2 py-2 px-4 cursor-pointer;
}

.page-title {
  @apply text-3xl text-black font-semibold;
}

.page-description {
  @apply text-sm text-gray-500;
}

.button-bordered {
  @apply font-emphasized p-3 border border-violet-600 hover:bg-violet-600 hover:text-white ease-in-out duration-150 rounded-md;
}

.center-background-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(3), invert(1);
}

.scrollable-content {
  max-height: 400px;
}

/* animations */

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
